.burger {
  @mixin larger-than 1009px {
    display: none;
  }
}
.headerWrap {
  @mixin smaller-than 464px {
    display: none;
  }
}
.mobileCallBtn {
  @mixin larger-than 464px {
    display: none;
  }
}
.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
.menuWrap {
  @mixin smaller-than 1010px {
    display: none;
  }
}

.logoWrap {
  display: flex;
  flex: 1;
  justify-content: center;

  @mixin larger-than 1010px {
    justify-content: flex-start;
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-left: var(--mantine-spacing-xl);

  @mixin smaller-than 600px {
    gap: var(--mantine-spacing-xs);
  }

  @mixin smaller-than 1010px {
    margin-left: 0;
  }
}

.themeToggle {
  display: flex;
  align-items: center;
}
