.heroCard {
    position: relative;
}
.heroSocialIcons {
    bottom: 8px;
    right: 8px;
    height: 60px;
    width: 170px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 35px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroLogo {
    font-size: 5rem;

    @media (max-width: $mantine-breakpoint-md) {
    font-size: 2rem;
  }
}
.heroImage {
    height: 80vh;

    @media (max-width: $mantine-breakpoint-sm) {
    height: 50vh;
  }
}